<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="shortcut icon" type="image/jpg" href="https://img.icons8.com/plasticine/2x/to-do.png"/>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
